{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block body_id %}splash{% endblock %}

{% block content %}
  {% include 'auth/_login.html' %}
{% endblock %}

{% block footer %}
  {% include '_login_footer.html' %}
  {% if docpage %}
    <div class="text-center">
      <a class="btn btn-info" target="_blank"
         href="{{ WEBROOT }}admin/docpages/{{ docpage.url|urlencode }}/">
        <span class="fa fa-question-circle" aria-hidden="true"></span>
        {{ docpage.name }}
      </a>
    </div>
  {% endif %}
{% endblock %}
