textarea.markdown {
  height: 300px;
}

.drop-zone {
  border: dotted 3px lightgray;
  cursor: pointer;
  display: block;
}

.drop-zone-file-over {
  border: dotted 3px green;
}

.drop-zone div {
  white-space: pre;
}

[docpage-markdown] {
  padding: 10px 0;
}
